<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="matzipSQL">
 	<insert id="matzipInsert" parameterType="matzip">
 		insert into matziptable values(#{category},#{title},#{link},#{description},
 		#{telephone},#{address},#{roadAddress},#{mapx},#{mapy},#{image1},#{image2},#{image3},#{image4})
 	</insert>
 	<select id="matzipList" parameterType="string" resultType="matzip">
 		select * from matziptable where address like '%'||#{address}||'%' 
 	</select>
 	<select id="matzipList2" resultType="matzip">
 		select * from matziptable 
 	</select>
 	<select id="getMatzipView" parameterType="string" resultType="matzip">
 		select * from matziptable where title = #{title}
 	</select>
 	<!-- 메인창에 베스트 3개 뿌려주기 -->
 	<select id="matzipThreeList" resultType="matzip">
      select * from 
      	(select rownum rn, tt.* from 
      	(select * from matziptable order by title)tt) 
      where rn=14 or rn=19 or rn=58 order by title desc
   </select>
   <select id="matzipAllList" parameterType="map" resultType="matzip">
		select * from (select rownum rn, tt.* from (select * from matziptable order by title)tt) where rn &gt;= #{startNum} and rn &lt;= #{endNum}
	</select>
 </mapper> 