@charset "UTF-8";

input:focus, #writeFormId:focus{
	outline:  none;
	border: 1.5px solid #000;	
}

.container-emailModifyForm{ 
	/* border: 1px solid red; */
	margin: 0 auto;
	align: center;
	align-content: center;
	width: 600px;
}

.emailModifyFormTitle {
	text-align: center;
    width: 100%;
    display: block;
    font-family: Poppins-Regular;
    font-size: 39px;
    color: #555555;
    line-height: 1.2;
    padding-bottom: 53px;
    padding-top: 100px;
}

.container-emailModifyForm-text{
	margin: 0 auto;
	width: 600px;
}

.box_container{
	/* border: 1px solid blue; */
	display: flex;
	width: 100%;
	align-items: center;
	margin: 0 auto;
}

.container-emailModifyprofile {
	/* border: 1px solid orange; */
	margin: 0 auto;
	margin-right: 35px;
	text-align: center;
}

.modifyProfile {
	width: 50px;
	height: 50px;	
	background-size: 50px 50px;
	border-radius: 50px;
	width: 150px;
	height: 150px;	
	background-size: 150px 150px;
	border-radius: 150px;
	text-align: right;
	cursor: pointer;
}

.userProfile {
	 align-self: center;
	 margin-left: 10px;
}

.userName {
	margin-top: 10px;
	font-size: 20px;	
}

.chageProfileBtn {
	margin-top: 5px;
	font-size: 14px;
	cursor: pointer;
    color: #0095f6;
}

.emailModifyForm-email,
.emailModifyForm-pwd,
.emailModifyForm-repwd,
.emailModifyForm-nickName {
	display:inline-block;
	font-family: Poppins-Regular;
    font-size: 16px;
    color: #555555;
    padding-top: 10px;
    padding-bottom: 10px;
}

#emailModifyFormEmail,
#emailModifyFormPwd,
#emailModifyFormRepwd,
#emailModifyFormNickName{
	font-family: Poppins-Regular;
    color: #333333;
    font-size: 16px;
    height: 50px;
    width: 305px;
    padding: 0 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
 	border-radius: 10px;
 	border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
  	margin-bottom: 15px;
}

.empty {
	/* border: 1px solid green; */
	width: 150px;
	height: 200px;
	margin-right: 35px;	
}

#emailModifyFormBtn,
#emailModifyFormresetBtn,
#emailModifyFormDropBtn {
	text-align: center;
	padding: 0 17px;
	height: 50px;
	background-color: #333333;
	border-radius: 10px;
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    outline: none !important;
    border: none;
    margin-left: 3px;
    margin-top: 35px;
}

.writeForm-gender{
	display:inline-block;
	font-family: Poppins-Regular;
    font-size: 16px;
    color: #555555;
    padding-top: 10px;
    padding-bottom: 10px;	
}

#gender1{
	font-family: Poppins-Regular;
	margin-left: 30px;
}

#gender2{
	font-family: Poppins-Regular;
	margin-left: 30px;
}
