@charset "UTF-8";
/* 공통  */
* {
	padding:0; 
	margin: 0;
}

/* span, button {
	font-family: 'Noto Sans KR', sans-serif;
} */

.header_menu > ul > li > span {
	font-family: 'Noto Sans KR', sans-serif;
}

.header_login > .header_loginBtn{
	font-family: 'Noto Sans KR', sans-serif;
}


/* ul, li {
	list-style:none;
} */

a {
	text-decoration:none; 
	color: inherit;
}

img {
	vertical-align: top;
}

/* index */
#mainTable {
	padding: 5px;
	width: 100%;
	background-color: #fafafa;
}

#header {
	/* border: 1px solid black; */
	width: 100%;
}

#body {
	/* border: 1px solid red; */
	width: 100%;
	align-content: top;
}

#footer {
	/* border: 1px solid blue; */
	width: 100%;
	align-content: center;
	background-color: #f5f5f5;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.header_logo {
	width: 30%;
	text-align: center;
	align-self: center;
}

.header_logo img {
	display: inline-block;
	width: 150px;
	height: 86px;
}

.header_menu {	
	width: 70%;
	text-align: center;
	align-self: center;
}

.header_menu li {
	display: inline-block;
	text-align: center;
	font-size: 20px;
    margin-right: 50px;
    padding-left: 50px;
    cursor: pointer;
}

/*밑줄넣기 부분*/
ul {
	list-style:none; 
	cursor:pointer;
}

li {   
	margin-right:10px;
	transition:all .3s ease;
	color: #6d6d6d;
}

li > span { 
	position:relative;
}

li:hover { 
	color: #b6512e; 
	transition: all .3s ease; 
}

li > span::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #b6512e;
  transition:all .3s ease;
}

li:hover > span::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #b6512e;
  transition:all .3s ease;
}

.header_login {
	width: 30%;
	text-align: center;
	align-self: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.header_loginBtn {
	display: inline-block;
	width: 133px;
    height: 45px;
	font-size: 16px;	
	border-radius: 10px;
    border: 1px solid #222;
    cursor: pointer;
    background-color: #fff;
}

.header_loginBtn:hover {
	background-color: #b6512e;
	color: #fff;
	border: none;
}
/* 
footer
footer address{
	font-size: 13px;
    color: #cfcfcf;
}

footer h4{
    padding-left: 18px;
}

.footer {
	width: 980px;
    padding: 17px 0;
    margin: 0 auto;
}

.footer:after{
    content: '';
    display: block;
    clear: both;
}

.box1 {
	width: 50%;
	float: left;
}

.box1 > img {
	width: 100px;
	height: 57px;
}

.box2 {
	float: left;
	margin-top: 10px;
	align-self: center;
	margin-left: 150px;	
}

.box2 li{
    float:left;
    margin: 15px;
} */


.header_afterLogin > button {
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}


.gggg{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	/* display: none; */
	position: fixed;

}

.userPhoto {
	width: 26px;
	height: 26px;
	background-size: 26px 26px;
	border-radius: 13px;
}


/* height: 28px;
    width: 170px; */
/* 
#modifyBoard, #deleteBoard, .a .b{
  width:100%;
  height:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: white;
}
 */

.userMenu {
	/* border: 1px solid red;
	width: 230px;
	height: 126px; */
	display: none;
}

/* .userMenu button{
	height: 40px;
	display: block;
	text-align: left;	
} */

.userPageBtn,
.userSettingBtn,
.userLogoutBtn {
	width: 200px;
	height: 42px;
	font-size: 17px;
    text-align: left; 
	padding-left: 10px;
	background-color: rgba(255,255,255,0.5);
	border: none;
	cursor: pointer;
}

.userSettingBtn {
	border-bottom: 1px solid black;
}

.userPageBtn:hover,
.userSettingBtn:hover,
.userLogoutBtn:hover {
	background-color: #f1f1f1;
}




.userMenu .userSetting_icon{
	border-bottom: 2px solid black;
}

.userMenu a i{
	background-color: white;
	margin-left: 20px;
	line-height: 40px;
	float: left;	
}




/* .userMenu .userPage {
	width: 230px;
	height: 37px;
	padding: 16px 8px;
	display: flex;
} */

.userPhoto {
	border: 1px solid gray;
	width: 26px;
	height: 26px;	
	background-size: 26px 26px;
	border-radius: 26px;
	text-align: right;
	cursor: pointer;
}








