@charset "UTF-8";

#commigSoon {
	width: 360px;
	height: 360px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}
#commingSoonImg{
	margin-bottom: 30px;
}
#ccc {
	color: #1482E3;
}
