body, html{
  margin:0;
  padding:0;
  width:100%;
}
.contentHeader{
  font-size: 20px;
  color:#5a5a56;
  font-weight: bold;
  width:100%;
  height:50px;
  text-align:center;
  letter-spacing: 10px;
  line-height:50px;
}
.navBar{
  width:100%;
  height:100px;
  border-bottom: 1px solid;
  text-align: center;
}
.contentWrapper{
  width:100%;
  height:100%;;
}
.content{
  display: flex;
  width:70%;
  height:100%;;
  margin:0 auto;
  border:1px solid #cfd8dc;
}
.writeEditor{
  width:80%;
  height:100%;;
}
.writeOption{
  width:20%;
  height:100%;;
  border-left:1px solid #cfd8dc;
}
/*stepBar UI*/
.stepBarWrapper{
  width:100%;
  height:100px;
  display: flex;
}
.step1,.step2,.step3,.step4{
  width:25%;
  margin:2px;
  margin-bottom:0;
  padding:10px auto;
}
.stepHeader{
  width:100px;
  height:35px;
  margin-left:15px;
  margin-top:10px;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}
.stepContent{
  width:80%;
  margin:15px;
  font-size: 13px;
}
/*editor content css*/
.editorContentWrapper{
  width:100%;
  height:660px;
  margin:2px;
  margin-top:0;
  background-color:#d7ccc8;
  padding:10px;
}
.editorContent{
  width:96%;
  height:600px;
  margin:20px auto;
  background-color: #ffffff;
}
/**************우측 *****************/
/*step*/
.stepChoiceWrapper{
  width:100%;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#backwardBtn, #forwardBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
  padding:0 auto;
  width:100px;
  height:50px;
  border:3px solid #e9eae4;
/*background-color: #e9eae4;*/
  cursor: pointer;
}
/*dayList*/
#dayList{
  width:100%;
  height:50px;
  text-align: center;
  border-bottom:1px solid #c1c1bb;
  letter-spacing: 10px;
  line-height:50px;
  font-weight: bold;
  color:#91918b;
}
#summernote{
	width:100%;
	height:100%;
}
/*스위치 버튼 CSS*/
.saveOption{
  width:100%;
  height:100px;
  font-size: 15px;
  color: #9ea7aa;
}
.switch{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:70%;
  height:50px;
  color: #9ea7aa;
  margin:auto;
}
.switch p{
   margin:0 auto;
}
.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
  margin:0 auto;
}

/* line 646, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 655, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.primary-switch input:checked + label:after {
  left: 19px;
}
.primary-switch input:checked + label:before {
  background: #ff5e13;
}
/*스위치 Infomation*/
.switch_infomation{
  font-size: 13px;
  position:absolute;
  left:84%;
  width:250px;
  text-align: left;
  background-color:#cfd8dc;
}
.switch_infomation p{
 margin:10px auto;
}

