/***************************boardWrite.jsp**********************************/
body, html{
  margin:0;
  padding:0;
  width:100%;
  background-color: #fffffb;
  display:block;
}
article{
  height:100%;
}
/* footer{
  width:100%;
  height:300px;
  background-color: #c4c4bb;
} */
/*header------나중에 속성 지워주기*/
.navBar{
  width:100%;
  height:100px;
  background-color: gray;
  text-align: center;
}
/*content*/
.contentWrapper{
  width:100%;
}
.content{
  width:65%;
  margin:0 auto;
  border:1px solid #cfd8dc;

}
.writeContent{
  width:65%;
  height: 100%;
  margin:0 auto;
  border:1px solid #cfd8dc;
  display:flex;
}

.writeEditor{
  width:80%;
  height:100vh;
}
.writeOption{
  width:20%;
  height:100vh;
  border-left:1px solid #cfd8dc;
}
/*saveOption*/
.saveOptionWrapper{
  width:100%;
  height:200px;
  text-align: center;
  margin:20px auto;
}
/*스위치 버튼 CSS*/
.saveOption{
  width:100%;
  height:100px;
  font-size: 15px;
  color: #9ea7aa;
}
.switch{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:70%;
  height:50px;
  color: #9ea7aa;
  margin:auto;
}
.switch p{
   margin:0 auto;
}
.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
  margin:0 auto;
}

/* line 646, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 655, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.primary-switch input:checked + label:after {
  left: 19px;
}
.primary-switch input:checked + label:before {
  background: #ff5e13;
}
/*스위치 Infomation*/
.switch_infomation{
  font-size: 13px;
  position:absolute;
  left:84%;
  width:250px;
  text-align: left;
  background-color:#cfd8dc;
}
.switch_infomation p{
 margin:10px auto;
}
.saveOptionWrapper button{
    width:90%;
}
/***************************boardView.jsp*********************************/
.boardWrapper{
  width:70%;
  height:100%;
  margin:0 auto;
  margin-top:100px;
}
.view_headWrapper{
  width:100%;
}
.boardContentWrapper{
  width:100%;
  height:100%;
}
.view_subjectInfo1{
  height:10%;
}
.view_subjectInfo2{
  height:50%;
  display: flex;
  align-items: center;
}
.view_subjectInfo3{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:30%;
  padding:20px;
  border-bottom:1px solid gray;
}
.view_category{
  height:100%;
  font-family: 'Noto Sans KR', sans-serif;
  color:#ccc0ae;
  letter-spacing: 7px;
  line-height:50px;
  margin-left:30px;
}
.view_subject{
  margin:10px auto;
  margin-left:30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
}
.view_userInfo{
  width:20%;
  height:100%;
  display: flex;
  margin-left:30px;
  justify-content:flex-start;
  align-items: center;
}

.view_controlOption{
  width:10%;
  height:100%;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  font-size: 20px;
  margin-left: 70%;
}
.view_userImg{
  float:left;
  width:30px;
  height:30px;
  border-radius: 75%;
  cursor: pointer;
}
.view_userId{
  width:100px;
  margin-left:20px;
}
.boardContentWrapper{
  width:100%;
  /*
  display:flex;
  justify-content: center;
  */
  margin:0 auto;
}
.boardcontentSpan{
	width:100%;
	height: 500px;
	overflow:scroll;
	overflow-x:hidden;
}
.boardContentWrapper{
  width:90%;
  line-height:40px;
  margin:30px auto;
}
.view_boardOption{
  height:60px;
  display:flex;
  align-items: center;
  border-top:1px solid gray;

}
.view_reply, .view_like{
  margin:10px;
  padding:0.3em;
}
.view_likeWrapper, .view_replyWrapper{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor:pointer;
}
/*상단 점 세개 클릭하면 나올 글 설정 메뉴*/
.view_controlOptionDiv{
  width:100px;
  height:100px;
  background-color: gray;
  position:fixed;
}
#modifyBoard, #deleteBoard{
  width:100%;
  height:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  background-color: white;
}
/*boardRepy*/
.view_boardReplyInputWrapper{
	width:80%;
	margin:0 auto;
}
.view_replyBoard{
	width:80%;
	margin:0 auto;
	margin-top: 30px;
}

.view_replyDiv{
  width:100%;
  margin:50px auto;
}
.view_replyDiv{
  padding-left:70px;
}
.view_replyList, .view_replyInputWrapper{
  width:100%;
  display: flex;
}
.view_userImgWrapper{
  width:10%;
}
.view_userImg{
  width:40px;
  height:40px;
  border-radius: 75%;
}
.view_replyContent{
  width:90%;;
}
.view_replyContent p{
  font-size:14px;
  margin-top:5px;
}
.reply_userID{
  font-family: 'Noto Sans KR', sans-serif;
}
.reply_logtime{
	font-size: 13px;
	
	 color: gray;
}
.optionBtn{
  width:10%;
  display: flex;
  justify-content: center;
}
.view_replyBtnWrapper{
  width:100%;
  display: flex;
  justify-content: flex-end;
}
.hvr-grow{
  width:40px;
  height:25px;
  border:1px solid gray;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* 댓글을 달 떄 입력할 폼 CSS*/
.view_replyInputWrapper, .view_boardReplyInputWrapper{
  border:2px solid gray;
  border-radius: 5px;
  display: flex;
  margin-bottom:10px;
  margin-top: 15px;
}
.view_replyInputWrapper{
  padding-left:20px;
}
#replyInputBox{
	resize: none;
  width:100%;
  margin-top:10px;
}
.reply_contentInput{
  width:97%;
  margin:10px auto;
}
.view_replyContentInputWrapper{
  width:100%;
  display:flex;
}
.reply_inputOption{
  width:100%;
  display:flex;
  justify-content: flex-end;
}
#resetBtn, #insertBtn{
  margin:10px;
  width:100px;
  font-size: 13px;
}
.writeOptionDiv{
	display: none;
}

/***************************boardList.jsp**********************************/
