body, html{
  margin:0;
  padding:0;
  width:100%;
  background-color: #fffffb;
  display:block;
}
article{
  height:100%;
}
footer{
  width:100%;
  height:300px;
  background-color: #c4c4bb;
}
/*header------나중에 속성 지워주기*/
.navBar{
  width:100%;
  height:100px;
  background-color: gray;
  text-align: center;
}
/*content*/
.contentWrapper{
  width:100%;
}
.content{
  width:65%;
  margin:0 auto;
  border:1px solid #cfd8dc;

}
.writeContent{
  width:65%;
  height: 100%;
  margin:0 auto;
  border:1px solid #cfd8dc;
  display:flex;
}

.writeEditor{
  width:80%;
  height:100vh;
}
.writeOption{
  width:20%;
  height:100vh;
  border-left:1px solid #cfd8dc;
}
/*saveOption*/
.saveOptionWrapper{
  width:100%;
  height:200px;
  text-align: center;
  margin:20px auto;
}
/*스위치 버튼 CSS*/
.saveOption{
  width:100%;
  height:100px;
  font-size: 15px;
  color: #9ea7aa;
}
.switch{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:70%;
  height:50px;
  color: #9ea7aa;
  margin:auto;
}
.switch p{
   margin:0 auto;
}
.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
  margin:0 auto;
}

/* line 646, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 655, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_elements.scss */
.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;

  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.primary-switch input:checked + label:after {
  left: 19px;
}
.primary-switch input:checked + label:before {
  background: #ff5e13;
}
/*스위치 Infomation*/
.switch_infomation{
  font-size: 13px;
  position:absolute;
  left:84%;
  width:250px;
  text-align: left;
  background-color:#cfd8dc;
}
.switch_infomation p{
 margin:10px auto;
}
.saveOptionWrapper button{
    width:90%;
}

#subject{
	font-family: 'Noto Sans KR', sans-serif;
	color: #333333;
	font-size: 20px;
	border:none;
	border-right:0px;
	border-top:0px;
	boder-left:0px;
	boder-bottom:0px;
	margin-left: 20px;
	padding: 0 20px;
	height: 50px;
    width: 630px;
    outline: none !important;
}