@charset "UTF-8";

body, html{
  margin:0;
  padding:0;
  width:100%;
  background-color: #fffffb;
  display:block;
}
.communityWriteForm{
	padding-left: 15%;
	display: flex;
}
article{
  margin-top: 50px;
  height:100%;
}

.navBar{
  width:100%;
  height:100px;
  background-color: gray;
  text-align: center;
}
.container_writeForm{
	border:1px solid #cfd8dc;
	height:85vh;
}
/*content*/
.contentWrapper{
  width:100%;
}
.content{
  width:65%;
  margin:0 auto;
  border:1px solid #cfd8dc;

}
.writeContent{
  width:65%;
  height: 100%;
  margin:0 auto;
  border:1px solid #cfd8dc;
  display:flex;
}
.writeForm{
	padding: 0px 10px;
}
.writeEditor{
  width:80%;
  height:100vh;
}
.writeOption{
  width:20%;
  height:85vh;
  border:1px solid #cfd8dc;
}
/*saveOption*/
.saveOptionWrapper{
  width:100%;
  height:200px;
  text-align: center;
  margin:20px auto;
}
#subject{
	font-family: 'Noto Sans KR', sans-serif;
	color: #333333;
	font-size: 20px;
	border:none;
	border-right:0px;
	border-top:0px;
	boder-left:0px;
	boder-bottom:0px;
	margin-left: 20px;
	padding: 0 20px;
	height: 50px;
    width: 630px;
    outline: none !important;
}
#subjectDiv{
	padding: 0 40px;
}

.saveOptionWrapper button{
	font-size: 13px;
	border-radius: 20px;
	border: 1px solid #343a40;
	outline: none !important;
	margin: 5px;
	height: 40px; 
	width: 90%;
}

hr {
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}